#pagecontent {
	margin-top: 80px;
}

#pagecontent {
	margin-top: 50px;
}

body {
	background-image: url("https://www.muralswallpaper.com//app/uploads/soft-natural-marble-textures-plain.jpg");
	background-repeat: repeat;
	background-color: white
	background-size: cover
}

nav {
	background-image: url("https://www.muralswallpaper.com//app/uploads/soft-natural-marble-textures-plain.jpg");
	background-color: white
}
 
 .pictures {
 	border-radius: 35px 40px;
 	box-shadow:5px 6px 7px;
 }

* {
	font-family: "Korinna BT";
	color: rgb(51,0,51);
}

.message{
    position: relative;
    left: 6px;
    border: 3px solid #;
  
}

div.container {
	width: 100%;
}

header, footer {
	padding: 1em;
	color: black;
	background-color: white;
	clear: left;
	text-align: center;
	vertical-align: bottom;
	margin-top: 140px;
}

footer {
	height: 40px;
}

#mural {
	background-image: url("http://drewbrophy.com/site/wp-content/uploads/2015/03/ALifeWellLived_-drew-brophy-mural-art-painting-keenfest-sacred-geometry.jpg") ;
	background-size: cover;
	background-position: center;
	box-shadow: 4px 4px #000000;
}

#mural h3 {
	color:#FFFFFF;
	text-shadow: 4px 4px #000000;
}

#mural h3 {
	font-family: "Helvetica Neue";
	color: rgb(255,255,255);
}

